<% include ../layout %>

<div class="index">

    <div class="container">

      <div class="row">

        <div class="indexPanel">
          <div class="col-sm-7 col-md-8">
            <h1>Bienvenido a SADA!</h1>
            <h3>Sistema adaptativo de aprendizaje.</h3>
            <p class="help-block">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum iste repellat doloremque possimus incidunt, quae autem libero ipsum rem vitae atque ipsam unde est ab aliquid, laboriosam hic inventore in.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id adipisci nobis cum ratione blanditiis accusantium, atque. Recusandae natus architecto sed iusto accusamus quas distinctio, corporis nobis veniam doloremque, sunt ipsum.</p>
          </div>
        </div>

        <div class="col-sm-5 col-md-4">
          <%if(recover==false){%>
            <%include login%>
          <%}else{%>
            <%include recover%>
          <%}%>
        </div>

      </div>
    </div>

</div>

<% include ../footer %>
