<%include ../layout %>
<script src="../../ngEncuesta.js"></script>
<script src="../../controllers/signup.js"></script>

<style>
  .butt{
    text-align: center;
  }
</style>

<div ng-app="ngEncuesta">
  
  <div ng-controller="signupCtrl as signup" class="index">

    <div class="col-sm-4 col-sm-offset-4" ng-show=<%= form %>>

      <h3 class="page-header">Cambio de Contraseña</h3>

      <% if(message.length>1){ %>
        <div class="alert alert-danger fade in" ng-hide="signup.error">
          <%= message %> <button class="close" ng-click="signup.error=true">&times;</button>
        </div>
      <% } %>

      <form action="/recover/changePass" method="post">
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
        </div>
        <div class="form-group">
            <label>Confirmar Contraseña</label>
            <input type="password" class="form-control" name="password2" placeholder="Contraseña" required>
        </div>
        <input type="hidden" name="email" value = <%= email %> >
        <button type="submit" class="btn btn-primary">Cambiar Contraseña!</button>

      </form>
    </div>

    <div class="col-sm-4 col-sm-offset-4" ng-hide=<%= form %>>
      <h3 class="text-center page-header">Contraseña cambiada exitosamente!</h3>
      <div class="center-btn">
        <a href="/menu"><button class="butt btn btn-primary">Ir a Menu</button></a>
      </div>
    </div>

  </div>

</div>

<% include ../footer %>
