<%include ../../layout%>
<%include ../../nav %>

<div class="menu container">

  <h1>Voltaje</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis ut voluptatem incidunt dicta debitis earum consectetur culpa necessitatibus excepturi odio ipsum iusto saepe consequatur possimus a soluta, velit repudiandae. Esse?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nobis commodi molestias delectus harum perspiciatis, animi magni doloribus ducimus non sequi enim, debitis. Laborum nesciunt odit cupiditate fuga esse dolores?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aliquam sapiente perspiciatis, voluptates necessitatibus rem temporibus quas reiciendis, amet tempora consequatur consectetur rerum, cumque enim suscipit soluta a distinctio saepe.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt repudiandae provident eligendi harum architecto facere illo magnam cum corporis, eum error deserunt quis dolor enim modi neque, sit consequuntur aut!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae molestiae iure itaque maiores ratione earum tenetur nihil esse quia, soluta. Ab iusto, velit voluptatibus incidunt! Dolorem obcaecati, sed quam nobis.</p>
</div>

<% include ../../footer %>
