<footer class="footer-site">
  <div class="container">

    <div class="row" id="footer-text">
      <div class="col-md-6" style="color:#b2b2b2;">
        <p>Universidad Técnica Federico Santa María </p>
        <p>Avenida España 1680, Valparaíso · +56 32 2654000</p>
      </div>

    </div>

    <div class="row bottom-footer">

      <div class="col-md-5">
        © 2016 <strong>SADA.</strong>
      </div>
      <div class="col-md-7">
        <ul class="footer-nav">
          <li><a href="/menu">Home</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>

    </div>

  </div>
</footer>


</body>
</html>
