<%include layout %>

<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<style>
li { margin: 5px; padding: 5px; width: 150px; }
</style>

<script>
      $(function() {
         $( "#sortable" ).sortable();
      });
   </script>


<div class="menu container">

  <div class="row">
    <div class="col-sm-4">
      <h1>Menú Principal aún por mejorar...</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nisi nostrum, qui reprehenderit possimus blanditiis dolorum rerum quaerat necessitatibus non cum ducimus quibusdam suscipit tenetur, minus culpa doloribus dolor autem!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, doloremque, rerum. Provident, praesentium. Provident laboriosam aut nam maiores veniam, dolore et vel voluptatem sunt iste earum asperiores, cumque voluptates fugit.</p>
    </div>

    <section class="col-sm-6 col-sm-offset-1 ramos-img">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nisi nostrum, qui reprehenderit possimus blanditiis dolorum rerum quaerat necessitatibus non cum ducimus quibusdam suscipit tenetur, minus culpa doloribus dolor autem!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, doloremque, rerum. Provident, praesentium. Provident laboriosam aut nam maiores veniam, dolore et vel voluptatem sunt iste earum asperiores, cumque voluptates fugit.</p>

        <ul id="sortable">
          <li class="ui-state-default">Item 1</li>
          <li class="ui-state-default">Item 2</li>
          <li class="ui-state-default">Item 3</li>
          <li class="ui-state-default">Item 4</li>
          <li class="ui-state-default">Item 5</li>
        </ul>



    </section>


  </div>


</div>

<% include footer %>
