<%include layout %>

<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<style>
li { margin: 5px; padding: 5px; width: 150px; }
</style>

<script>
      $(function() {
         $( '#sortable1' ).sortable({
           cursor: "move",
           update: function(event, ui) {
              var order1 = $(this).sortable('toArray').toString();
              $("#printeo1").text (order1);
           }
         });
         $( '#sortable2' ).sortable({
           cursor: "move",
           update: function(event, ui) {
              var order2 = $(this).sortable('toArray').toString();
              $("#printeo2").text (order2);
           }
         });
         $( '#sortable3' ).sortable({
           cursor: "move",
           update: function(event, ui) {
              var order3 = $(this).sortable('toArray').toString();
              $("#printeo3").text (order3);
           }
         });
         $("#botoncito1").on('click',function () {
           $('#sortable1').append("<li class='ui-state-default'>New fruit<button class='delete'>Borrar</button></li>");
         });

         $("#sortable1").on('click', '.delete', function () {
           $(this).parent().remove();
         });


      });

   </script>


<div class="menu container">

  <div class="row">
    <div class="col-sm-4" id="columna1">
      <p>columna 1</p>
      <button id='botoncito1'>Agregar modulo</button>

        <ul id="sortable1">
          <li class="ui-state-default" id="11">Item 1
              <button class="delete">Borrar</button>
          </li>

          <li class="ui-state-default" id="12">Item 2
            <button class="delete">Borrar</button>
          </li>

          <li class="ui-state-default" id="13">Item 3
            <button class="delete">Borrar</button>
          </li>

          <li class="ui-state-default" id="14">Item 4
            <button class="delete">Borrar</button>
          </li>

          <li class="ui-state-default" id="15">Item 5
            <button class="delete">Borrar</button>
          </li>

        </ul>
        <br>
        <h3><span id="printeo1"></span></h3>

    </div>

    <section class="col-sm-4" id="columna2">
    <p>columna 2</p>

        <ul id="sortable2">
          <li class="ui-state-default" id="21">Item 1</li>
          <li class="ui-state-default" id="22">Item 2</li>
          <li class="ui-state-default" id="23">Item 3</li>
          <li class="ui-state-default" id="24">Item 4</li>
          <li class="ui-state-default" id="25">Item 5</li>
        </ul>
        <br>
        <h3><span id="printeo2"></span></h3>

    </section>

    <section class="col-sm-4" id="columna3">
    <p>columna 3</p>

        <ul id="sortable3">
          <li class="ui-state-default" id="31">Item 1</li>
          <li class="ui-state-default" id="32">Item 2</li>
          <li class="ui-state-default" id="33">Item 3</li>
          <li class="ui-state-default" id="34">Item 4</li>
          <li class="ui-state-default" id="35">Item 5</li>
        </ul>
        <br>
        <h3><span id="printeo3"></span></h3>

    </section>


  </div>


</div>

<% include footer %>
