<div class="nav">
  <div class="container">
    <div class="row">
      <div class="c12">

        <nav id=nav>
          <ul class="nav navbar-left">
            <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li><a href="/ramos">Ver Asignaturas</a></li>
            <%if(user.Admin == 1){%>
              <li><a href="/signup">Administrar Usuarios</a></li>
            <%}%>
            <%if(user.Profesor==1){%>
              <li><a href="/administrar_ramos">Administrar Asignaturas</a></li>
            <%}%>
            <li><a href="/about">About</a></li>
          </ul>

          <ul class="nav navbar-right">
            <li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i> <%= user.Nombre %></a></li>
            <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar Sesion</a></li>
          </ul>

        </nav>
      </div>
    </div>
  </div>
</div>
