<div class="col-md-4">
  <h3 class=page-header> Recuperar Contraseña</h3>
  <% if (message.length > 0 && message[1]==0){%>
  <div class="alert alert-danger fade in" data-dismiss="alert" aria-label="close"><%= message[0] %> <button class="close">&times</button></div>
  <% } %>
  <% if (message.length > 0 && message[1]==1){%>
  <div class="alert alert-success fade in" data-dismiss="alert" aria-label="close"><%= message[0] %> <button class="close">&times</button></div>
  <% } %>


  <!-- Recover FORM -->
  <form action="/recover" method="post">
          <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" name="email" placeholder="ejemplo@ejemplo.com" required>
          </div>
          <button type="submit" class="btn btn-warning pull-left btn-sm">Solicitar Contraseña</button>
          <a href="/"><button type="button" class="btn btn-default pull-right btn-sm">Atrás</button></a>
  </form>

</div>
