<%include ../layout %>
<%include ../nav %>

<div class="menu">
  <div class="container">
    <h3>Sobre SADA</h3>
    <p>SADA es una plataforma creada para el departamento de física donde la
    información de cada unidad y ramo se muestra de forma personalizada según el alumno,
    de modo que este pueda asimilarla de la mejor forma posible.</p>
    <p>SADA incluye funcionalidades tales como la valoración de una página o la
    proposición de una versión personalizada. De esta forma las páginas van cambiando
    constantemente para la comodidad de los alumnos.</p>
  </div>
</div>

<% include ../footer %>
