<%include ../layout %>
<%include nav %>

<div class="menu">
  <div class="container">
    <h3>Sobre SADA</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo labore, facilis eaque expedita laudantium velit alias cum tenetur voluptas beatae, iusto. Rem hic deleniti dolore quibusdam porro nesciunt ea facilis!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam aspernatur, obcaecati aut odit dolor, reprehenderit doloremque asperiores neque suscipit impedit doloribus quidem! Dignissimos voluptas sequi tempore facere neque quod quam</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae nulla neque est reprehenderit inventore non ratione earum ut impedit. Quas velit fuga error corporis quis assumenda, minima reprehenderit vero nisi.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium placeat saepe quam facere temporibus, ipsum ut laudantium, amet ducimus non necessitatibus debitis. Vel repudiandae facilis neque nam libero expedita voluptas.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptatum praesentium assumenda quae et tenetur labore, dolore eligendi optio iste, inventore rem, necessitatibus non enim temporibus, voluptates molestias quo nam?</p>
  </div>
</div>

<% include ../footer %>
