<%include ../layout %>
<%include ../nav %>

<div class="menu">
  <div class="container">

    <section>
      <%for(var i=0;i<usuarios.length;i++){%>
        <%if(usuarios[i].Admin==0){%>
          <div class="row">
            <div class="col-xs-6 col-xs-offset-3 usuario">
              <div class="pull-left font-20">
                <strong>Nombre:</strong> <font size="3px"><%=usuarios[i].Nombre%></font>
                <strong>Rut:</strong> <font size="3px"><%=usuarios[i].Rut%></font>
                <%if(usuarios[i].Profesor==0){%> <strong>Perfil:</strong>
                    <font size="3px">
                        <%if(usuarios[i].perfil_idperfil==1){%>Adaptador
                        <%} else if(usuarios[i].perfil_idperfil==2){%> Divergente
                        <%} else if(usuarios[i].perfil_idperfil==3){%> Convergente
                        <%} else if(usuarios[i].perfil_idperfil==4){%> Asimilador
                        <%} else{%> Sin Encuesta <%}%>
                    </font>
                <%} else{%> <strong>Profesor</strong> <%}%>

              </div>
              <form action="/eliminarUsuario" method="post" onsubmit="return confirm('¿Seguro que quieres eliminar dicho usuario?');">
                <input type="hidden" value=<%=usuarios[i].Rut%> name="rut">
                <button type="submit" class="btn btn-danger pull-right"><i class="fa fa-trash" aria-hidden="true"></i></button>
              </form><!-- eliminarUsuario -->
             <!-- <form action="/asignarRamo" method="post">
                <input type="hidden" value=<%=usuarios[i].Rut%> name="rut">
                <button type="submit" class="btn btn-danger pull-right"><i class="fa fa-trash" aria-hidden="true"></i></button>
              </form> -->
            </div>
          </div>
        <%}%>
      <%}%>
    </section>

  </div>
</div>

<% include ../footer %>
