<%include ../layout %>
<%include ../nav %>

<div class="menu">
  <div class="container">

    <section>
      <%for(var i=0;i<usuarios.length;i++){%>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <h4><%=usuarios[i].Nombre%></h4>
          </div>
          <div class="col-xs-2">
            <button><i class="fa fa-trash" aria-hidden="true"></i></button>
          </div>
        </div>
      <%}%>
    </section>

  </div>
</div>

<% include ../footer %>
