<!DOCTYPE html>
<html ng-app="ngEncuesta">
    <head>
        <title><%=title%></title>
        <!--links-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="s2tylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link href="https://bootswatch.com/readable/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../../stylesheets/style.css">
        <!--scripts-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <!--angular scripts-->
        <script src="../../ngEncuesta.js"></script>
        <script src="../../controllers/activaEncuesta.js"></script>
        <script src="../../controllers/quiz.js"></script>
        <script src="../../factories/quizMetrics.js"></script>
        <script src="../../factories/dataService.js"></script>

        <style>
            .page-header{margin-top:0px;}
            .answer{padding:10px 10px;border-radius: 10px;border:1px solid #bbb;}
            .answer2{border-radius: 10px;border:2px solid #27abbb;}
            .alert{margin-top:30px;}
            .no-click{pointer-events: none;}
            .well{margin-top:30px;}
            .spacing{margin-top:10px;position: relative;}
            .botones{margin-top:15px;}
            //.numbers{border:1px solid blue;padding:20px 0px 20px 25px;}
            //.row{border:1px solid red}
        </style>
    </head>
    <body>
        <div class="container menu">
            <div class="col-sm-12 ">
                <div class="form-group page-header">
                    <h2 class="text-center">Cuestionario de Aprendizaje</h2>
                </div>
            </div>

            <!-- Activar Encuesta -->
            <div ng-controller="testCtrl as test" ng-hide="test.quizMetrics.encuestaActiva">

              <div class="col-sm-12 ">
                  <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-justify text-center help-block">
                    <p>El siguiente cuestionario describe la manera en que tú aprendes y cómo afrontas las situaciones diarias de tu trabajo.
                    Todos sabemos que las personas tienen diferentes formas de aprender; sin embargo, este cuestionario te ayudará a entender
                    qué puede significar para tí tu estilo de aprendizaje.</p>
                  </div>
              </div>
              <div class="col-sm-12 ">
                  <div class="form-group ">
                      <h2 class="text-center">Instrucciones</h2>

                  </div>
                  <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-justify text-center help-block">
                    <p>A continuación se te pedirá que completes 12 frases. Cada frase puede terminarse de cuatro formas distintas.
                    Ordena las cuatro opciones de cada frase según pienses que se ajustan a tu manera de aprender algo nuevo.
                    Trata de pensar en situaciones recientes en las que te enfrentaste a algo nuevo. Numera con un <strong>4</strong> la terminación
                    que <strong>mejor</strong> se ajuste a tu forma de aprender y con un <strong>1</strong> la que <strong>peor</strong> se ajuste.
                    Asegúrate de asignar un número a todas las terminaciones de cada una de las 12 frases!</p>
                  </div>
              </div>

                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="form-group">
                        <div class="center-btn">
                            <button  class="btn btn-primary" ng-click="test.activarEncuesta(true)">Entendido! Empezar Cuestionario</button>
                            <a href="/logout"><button class="btn btn-default">
                                    Cancelar
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Encuesta -->
            <div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.encuestaActiva">

                <!-- Progreso -->
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <h4>Progreso:</h4>
                        <div class="btn-toolbar" role="toolbar" aria-label="...">
                            <div class="btn-group" role="group" aria-label="...">
                                <button class="btn"
                                ng-repeat="question in quiz.DataService.Preguntas"
                                ng-class="{'btn-info':question.selected[0] !== null && question.selected[1] !== null && question.selected[2] !== null && question.selected[3] !== null,
                                           'btn-danger':question.selected[0] == null || question.selected[1] == null || question.selected[2] == null || question.selected[3] == null}"
                                ng-click="quiz.Respondido($index)"
                                >{{$index+1}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="alert alert-danger fade in" ng-show="quiz.error">
                            Aún no has respondido todas las preguntas!
                            <button class="close" ng-click="quiz.error = false">&times</button>
                        </div>
                    </div>
                </div>

                <!-- Preguntas -->
                <div class="row">
                    <div class="well well-lg" ng-hide="quiz.finalise">
                        <div class="row">
                            <div class="col-xs-12">

                                <!-- Pregunta -->
                                <h4>{{quiz.activeQuestion+1 + '. '+quiz.DataService.Preguntas[quiz.activeQuestion].pregunta}}</h4>

                                <!-- Respuestas -->
                                    <div class="row spacing answer" ng-class="{'answer2':null != quiz.DataService.Preguntas[quiz.activeQuestion].selected[$index]}"
                                     ng-repeat="answer in quiz.DataService.Preguntas[quiz.activeQuestion].respuestas">
                                        <h4 class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                                            {{answer.answer}}
                                        </h4>
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 btn-toolbar" role="toolbar" aria-label="...">
                                            <div class="btn-group" role="group" aria-label="..." ng-init="list=[1,2,3,4]">
                                                <button ng-class="{'btn':true,
                                                                   'btn-info':quiz.DataService.Preguntas[quiz.activeQuestion].selected[$parent.$index]==i,
                                                                   'no-click':(quiz.DataService.Preguntas[quiz.activeQuestion].selected[0]==i
                                                                              || quiz.DataService.Preguntas[quiz.activeQuestion].selected[1]==i
                                                                              || quiz.DataService.Preguntas[quiz.activeQuestion].selected[2]==i
                                                                              || quiz.DataService.Preguntas[quiz.activeQuestion].selected[3]==i)
                                                                              && quiz.DataService.Preguntas[quiz.activeQuestion].selected[$parent.$index]!=i,
                                                                    'btn-default':!((quiz.DataService.Preguntas[quiz.activeQuestion].selected[0]==i
                                                                              || quiz.DataService.Preguntas[quiz.activeQuestion].selected[1]==i
                                                                              || quiz.DataService.Preguntas[quiz.activeQuestion].selected[2]==i
                                                                              || quiz.DataService.Preguntas[quiz.activeQuestion].selected[3]==i)
                                                                              && quiz.DataService.Preguntas[quiz.activeQuestion].selected[$parent.$index]!=i)
                                                                   }"

                                                        ng-click="quiz.selectAnswer($parent.$index,i)"
                                                        ng-repeat="i in list"
                                                >{{i}}</button>
                                            </div>
                                        </div><!-- Final botones 1-4 -->
                                    </div>

                            </div>
                        </div>
                        <div class="botones">

                          <div class="form-group">
                            <button class="btn btn-primary pull-right" ng-click="quiz.Respondido()">
                                Continuar
                            </button>
                            <button class="btn btn-default" ng-click="quiz.Cancelar(true)">
                                Cancelar
                            </button>
                            <button  class="btn btn-info" ng-click="quiz.activarEncuesta(false)">
                                Volver a Instrucciones
                            </button>
                          </div>

                        </div>
                    </div>

                    <!-- Se finaliza el cuestionario -->
                    <div class="well well-sm" ng-show="quiz.finalise">

                        <div class="row" ng-hide="quiz.cancelar">
                            <div class="col-xs-12">
                                <form action="/menu" method="post">
                                    <h3>¿Seguro que quieres enviar tus respuestas?</h3>
                                    <button type="submit" class="btn btn-success" ng-click="quiz.finaliseAnswers()">Enviar</button>
                                    <input type="hidden" value={{quiz.result}} name="result">
                                    <button type="button" class="btn btn-default" ng-click="quiz.finalise = false">Espera! Volver atrás</button>
                                </form>
                            </div>
                        </div>

                        <div class="row" ng-show="quiz.cancelar">
                          <div class="col-xs-12">
                            <h3>¿Seguro que quieres cancelar el cuestionario? Perderás todas las respuestas que ya tengas contestadas.</h3>
                            <a href="/logout"><button type="button" class="btn btn-danger">Sí! Cancelar</button></a>
                            <button type="button" class="btn btn-default" ng-click="quiz.Cancelar(false)">No! Seguir respondiendo</button>
                          </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <% include ../footer_encuesta %>
