<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <!--links-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="https://bootswatch.com/readable/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <!--scripts-->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>-->
    <!--angular scripts-->

</head>

<body class="menuLayout">

  <div id="header">

    <div class="row nav">
      <div class="c12 brand">
        <a href="/">
          <img src="../../img/header-usm.png" alt="Universidad Técnica Federico Santa María">
        </a>

        <span class="since">
          <img src="../../img/header-years.png" alt="85 años">
        </span>
      </div>

      <div class="c12 nav">

        <nav id=nav>
          <ul class="nav navbar-left">
            <li><a href="/about"><i class="fa fa-question" aria-hidden="true"></i> About</a></li>
            <li role="separator" class="divider"></li>
            <% if(user.Admin == 1){ %>
            <li><a href="/signup/alumno" ><i class="fa fa-user-plus" aria-hidden="true"></i> Agregar Alumno</a></li>
            <li><a href="/signup/profesor" ><i class="fa fa-user-plus" aria-hidden="true"></i> Agregar Profesor</a></li>
            <% } %>
          </ul>
          <ul class="nav navbar-right">
            <li style="float:right;">
              <div class="dropwdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Usuario <span class="caret"></span></a>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i> Ver perfil</a></li>
                  <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> <strong>Logout</strong></a></li>
                </ul>
              </div>
            </li>
          </ul>

        </nav>
      </div>
    </div>

  </div>
