<%include ../layout %>
<%include nav %>

<div class="menu container">

  <div class="row">
    <div class="col-sm-4">
      <h1>Menú Principal aún por mejorar...</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nisi nostrum, qui reprehenderit possimus blanditiis dolorum rerum quaerat necessitatibus non cum ducimus quibusdam suscipit tenetur, minus culpa doloribus dolor autem!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, doloremque, rerum. Provident, praesentium. Provident laboriosam aut nam maiores veniam, dolore et vel voluptatem sunt iste earum asperiores, cumque voluptates fugit.</p>
    </div>

    <section class="col-sm-6 col-sm-offset-1 ramos-img">
      <%if(user.perfil_idperfil==1){%>
        <img src="../../img/adaptador.jpg" alt="">
      <%}else if(user.perfil_idperfil==2){%>
        <img src="../../img/divergente.jpg" alt="">
      <%}else if(user.perfil_idperfil==3){%>
        <img src="../../img/convergente.jpg" alt="">
      <%}else if(user.perfil_idperfil==4){%>
        <img src="../../img/asimilador.jpg" alt="">
      <%}%>
    </section>
  </div>

</div>

<% include ../footer %>
