<%include ../layout %>
<%include ../nav %>

<div class="menu container">

  <div class="row">
    <div class="col-md-4">
      <h1>Menú Principal</h1>
      <%if(user.Profesor==0){%>
          <p>Utiliza esta plataforma para aprender física de la mejor manera.</p>
          <p>No olvides <strong>calificar</strong> las páginas que ves y no dudes en recomendarnos <strong>tu propia página.</strong></p>
      <%}%>
      <%if(user.Profesor==1){%>
          <div class="font-20">
            Actualmente su perfil temporal es:
            <%if(perfilTemp==1){%>
              <strong>Adaptador</strong>
            <%}%>
            <%if(perfilTemp==2){%>
              <strong>Divergente</strong>
            <%}%>
            <%if(perfilTemp==3){%>
              <strong>Convergente</strong>
            <%}%>
            <%if(perfilTemp==4){%>
              <strong>Asimilador</strong>
            <%}%>
          </div>
           <br>
        <div class="well">
          <p><label>Elija un perfil temporáneo:</label></p>
          <form action="/perfilTemp" method="post">
            <input type="radio" name="perfilTemp" value="1"> Adaptador <br>
            <input type="radio" name="perfilTemp" value="2"> Divergente <br>
            <input type="radio" name="perfilTemp" value="3"> Convergente <br>
            <input type="radio" name="perfilTemp" value="4"> Asimilador <br><br>
            <button type="submit" class="btn btn-warning">Aceptar</button>
          </form>


        </div>
      <%}%>
    </div>

    <section class="col-md-6 col-md-offset-1 ramos-img">
      <%if(user.Admin==1){%>
        <img src="http://adminweapon.com/wp-content/uploads/2012/06/logo-admin-weapon.jpg" alt="">
      <%}else if(user.Profesor==1 && user.Admin==0){%>
        <img src="http://www.eldinamo.cl/wp-content/uploads/2016/10/profesor-574x238.jpg" alt="">
      <%}else if(user.perfil_idperfil==1){%>
        <img src="../../img/adaptador.jpg" alt="">
      <%}else if(user.perfil_idperfil==2){%>
        <img src="../../img/divergente.jpg" alt="">
      <%}else if(user.perfil_idperfil==3){%>
        <img src="../../img/convergente.jpg" alt="">
      <%}else if(user.perfil_idperfil==4){%>
        <img src="../../img/asimilador.jpg" alt="">
      <%}%>
    </section>
  </div>

</div>

<% include ../footer %>
