<div class="nav">
  <div class="container">
    <div class="row">
      <div class="c12">

        <nav id=nav>
          <ul class="nav navbar-left">
            <li><a href="/ramos">Ramos</a></li>
            <%if(user.Admin == 1){%>
              <li><a href="/signup">Agregar</a></li>
            <%}%>
            <li><a href="/about">About</a></li>
            <li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i> Ver perfil</a></li>
          </ul>

          <ul class="nav navbar-right">
            <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> <strong>Logout</strong></a></li>
          </ul>

        </nav>
      </div>
    </div>
  </div>
</div>
