<%include ../layout %>
<%include nav %>

<div class="container menu">

    <div class="page-header text-center">
        <h1><i class="fa fa-cog" aria-hidden="true"></i> Información de Perfil</h1>
    </div>


    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6" id="profile-info">
        <div class="well">
            <h3><span class="fa fa-user"></span> <%= user.Nombre %><br> </h3>

            <p>
                <strong>RUT</strong>: <%= user.Rut %><br>
                <%if (user.Rol!=null) { %>
                <strong>Rol</strong>: <%= user.Rol %><br>
                <%}%>
                <strong>Email</strong>: <%= user.Correo %><br>
                <br>
                <a href="/change_pass"><button class="btn btn-warning">Cambiar Contraseña</button></a>
            </p>

        </div>
    </div><!-- LOCAL INFORMATION -->

</div>

<% include ../footer %>
