<%include ../layout %>
<%include nav %>

<div class="menu container">

  <div class="row">

    <section class="col-sm-4 ramos">
      <a href="/ramos/120"><%= rows[0].Nombre%></a>

      <a href="#" onclick="document.getElementById('form2').submit();"><%= rows[1].Nombre%></a>
    </section>

    <section class="col-sm-6 col-sm-offset-1 ramos-img">
      <%if(user.perfil_idperfil==1){%>
        <img src="../../img/adaptador.jpg" alt="">
      <%}else if(user.perfil_idperfil==2){%>
        <img src="../../img/divergente.jpg" alt="">
      <%}else if(user.perfil_idperfil==3){%>
        <img src="../../img/convergente.jpg" alt="">
      <%}else if(user.perfil_idperfil==4){%>
        <img src="../../img/asimilador.jpg" alt="">
      <%}%>
    </section>
    
  </div>

</div>

<% include ../footer %>
