<%include layout%>

<div class="menu container">

  <div class="row">
    <section class="col-sm-4 ramos">
      <div class="row">
          <a href="#">
            FISICA GENERAL II
          </a>
          <a href="#">
            FISICA GENERAL III
          </a>
          <a href="#">
            FISICA GENERAL IV
          </a>
      </div>
    </section>

    <section class="col-sm-6 col-sm-offset-1 ramos-img">
      <%if(user.perfil_idperfil==1){%>
        <img src="../../img/adaptador.jpg" alt="">
      <%}else if(user.perfil_idperfil==2){%>
        <img src="../../img/divergente.jpg" alt="">
      <%}else if(user.perfil_idperfil==3){%>
        <img src="../../img/convergente.jpg" alt="">
      <%}else if(user.perfil_idperfil==4){%>
        <img src="../../img/asimilador.jpg" alt="">
      <%}%>
    </section>
  </div>

</div>

<% include ../footer %>
