<%include ../layout %>
<%include nav %>

<script src="../../ngEncuesta.js"></script>
<script src="../../controllers/signup.js"></script>

<div ng-app="ngEncuesta" class="menu">
  <div class="container"  ng-controller="signupCtrl as signup">

    <div class="row">

      <section class="c4 signup-agregar">
        <div class="row">
            <a ng-click="signup.isAlumno=true; signup.error=true">
              Agregar Alumno <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
            <a ng-click="signup.isAlumno=false; signup.error=true">
              Agregar Profesor <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
        </div>
      </section>

      <div class="col-sm-4 col-sm-offset-2">
        <% if (messages.length > 0){%>
        <% for(var i=0;i<messages.length;i++){%>
        <div class="alert alert-danger fade in" ng-hide="signup.error">
          <%= messages[i] %> <button class="close" ng-click="signup.error=true">&times;</button>
        </div>
        <% } %>
        <% } %>
        <% if (exito.length > 0){%>
        <% for(var i=0;i<exito.length;i++){%>
        <div class="alert alert-success fade in" ng-hide="signup.error">
          <%= exito[i] %> <button class="close" ng-click="signup.error=true">&times;</button>
        </div>
        <% } %>
        <% } %>
      </div>

      <div ng-if="signup.isAlumno != null">
        <!-- Alumno -->
        <div class="c5 signup-form" ng-show="signup.isAlumno">

            <h2 ><span class="fa fa-sign-in"></span> Agregar Alumno</h2>

            <!-- show any messages that come back with authentication -->
            <% if (messages.length > 0){%>
            <% for(var i=0;i<messages.length;i++){%>
            <div class="alert alert-danger fade in" ng-hide="signup.error">
              <%= messages[i] %> <button class="close" ng-click="signup.error=true">&times;</button>
            </div>
            <% } %>
            <% } %>
            <% if (exito.length > 0){%>
            <% for(var i=0;i<exito.length;i++){%>
            <div class="alert alert-success fade in" ng-hide="signup.error">
              <%= exito[i] %> <button class="close" ng-click="signup.error=true">&times;</button>
            </div>
            <% } %>
            <% } %>

            <!-- SIGNUP FORM -->
            <form action="/signup" method="post">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="username" placeholder="Nombre" required>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" placeholder="ejemplo@ejemplo.com" required>
                </div>
                <div class="form-group">
                    <label>Rol</label>
                    <input type="number" class="form-control" name="rol" placeholder="123456789 (Sin dígito verificador)" required>
                </div>
                <div class="form-group">
                    <label>Rut</label>
                    <input type="number" class="form-control" name="rut" placeholder="123456789 (Sin dígito verificador)" required>
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" name="password" placeholder="Contraseña (Mínimo 4 carácteres)" required>
                </div>
                    <input type="hidden" name="isAlumno" value={{signup.isAlumno}}>

                <button type="submit" class="btn btn-primary">Agregar</button>
                <a href="/menu"><button type="button" class="btn btn-default">Volver Atrás</button></a>
            </form>
        </div>

        <!-- Profesor -->
        <div class="c5 signup-form" ng-hide="signup.isAlumno">

            <h2><span class="fa fa-sign-in"></span> Agregar Profesor</h2>

            <!-- SIGNUP FORM -->
            <form action="/signup" method="post">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="username" placeholder="Nombre" required>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" placeholder="ejemplo@ejemplo.com" required>
                </div>
                <div class="form-group">
                    <label>Rut</label>
                    <input type="number" class="form-control" name="rut" placeholder="123456789 (Sin dígito verificador)" required>
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" name="password" placeholder="Contraseña (Mínimo 4 carácteres)" required>
                </div>
                <input type="hidden" name="isAlumno" value={{signup.isAlumno}}>

                <button type="submit" class="btn btn-primary">Agregar</button>
                <a href="/menu"><button type="button" class="btn btn-default">Volver Atrás</button></a>
            </form>
        </div>
      </div><!-- end ng-if -->

    </div><!-- end row -->

  </div>
</div>

<%include ../footer%>
