html{
  height: 100%;
  //border: 2px solid red;
  //box-sizing: border-box
}
body{
  font: 14px "Lucida Grande", Arial, sans-serif;
  min-height: 100%;
  border-width: 1px;
  border-style: solid;
  //border-color: #b2b2b2;
  position: relative;
  margin:0;
  background: url('../img/physic.jpg');
}
.menu{
  min-height: 100%;
  position:relative;
  margin-bottom:110px;
  //border: 5px solid lightblue;
}
.index{
  min-height: 100%;
  position:relative;
  margin-bottom:150px;
  //border: 5px solid lightblue;
}
.footer-site{
  //border: 2px solid green;
  position:absolute;
  right:0;
  left:0;
  bottom:0;
  background-color: #222;
  color:white;
  width: 100%;
}
.bottom-footer{
  border-top:1px solid #b2b2b2;
  margin-top:10px;
  padding-top:10px;
  color:#b2b2b2;
}
.footer-nav{
  text-align: right;
  list-style:none;
}
.footer-nav li{
  display:inline;
}
.footer-nav li:not(:first-child):before{
  content:'|';
  padding:0px 10px;
}
.footer-nav a{
  color:#b2b2b2;
}
.footer-nav a:hover{
  color:white;
  text-decoration: none;
}
.recover-pass a{
  color:#3366cc;
}
.recover-pass a:hover{
  color:#0099cc;
  text-decoration: none;
}
#footer-text{
margin-top: 20px;
}
.center-btn{
  text-align:center;margin-top:50px;
}
