<%include ../layout %>
<%include ../nav %>

<div class="menu container">
  <div class="row">
    <section class="col-sm-4 ramos">
      <h4>Elija una asignatura</h4>
      <%for(var i=0;i<rows.length;i++){%>
        <form action="/adm_unidades" method="post">
          <input type="hidden" value=<%=rows[i].idRamo%> name="ramo_id">
          <input type="hidden" value=<%=rows[i].Nombre%> name="ramo_nombre">
          <button type="submit"><i class="fa fa-wrench" aria-hidden="true"></i> <%= rows[i].Nombre%></button>
        </form>
      <%}%>
    </section>

  </div> <!-- end row -->
</div>

<% include ../footer %>
