<%include ../layout %>
<%include ../nav %>

<div class="menu container">
  <div class="row">
    <section class="col-sm-4 ramos">
      <h4>Asignatura: <label> <%=ramo_nombre%></label></h4>
      <%for(var i=0;i<unidades.length;i++){%>
        <form action="/adm_plantilla" method="post">
          <input type="hidden" value=<%=unidades[i].idUnidad%> name="unidad_id">
          <input type="hidden" value=<%=unidades[i].Nombre%> name="unidad_nombre">
          <button type="submit"><i class="fa fa-wrench" aria-hidden="true"></i> <%=unidades[i].Nombre%></button>
        </form>
      <%}%>
    </section>

    <section class="col-sm-6 col-sm-offset-1 ramos-img">
      <%if(user.Admin==1){%>
        <img src="http://adminweapon.com/wp-content/uploads/2012/06/logo-admin-weapon.jpg" alt="">
      <%}else if(user.Profesor==1){%>
        <img src="http://www.eldinamo.cl/wp-content/uploads/2016/10/profesor-574x238.jpg" alt="">
      <%}else if(user.perfil_idperfil==1){%>
        <img src="../../img/adaptador.jpg" alt="">
      <%}else if(user.perfil_idperfil==2){%>
        <img src="../../img/divergente.jpg" alt="">
      <%}else if(user.perfil_idperfil==3){%>
        <img src="../../img/convergente.jpg" alt="">
      <%}else if(user.perfil_idperfil==4){%>
        <img src="../../img/asimilador.jpg" alt="">
      <%}%>
    </section>
  </div> <!-- end row -->
</div>

<% include ../footer %>
