<%include ../layout%>
<%include ../nav %>

<div class="menu container">
  <div class="row">
    <section class="col-sm-4 ramos">
      <%for(var i=0;i<unidades.length;i++){%>
        <form action="/ramos/u/materia" method="post">
          <input type="hidden" value=<%=unidades[i].idUnidad%> name="idUnidad">
          <input type="hidden" value=<%=unidades[i].Nombre%> name="nombreUnidad">
          <button type="submit"><%= unidades[i].Nombre%></button>
        </form>
      <%}%>
    </section>
  </div>
</div>

<% include ../footer %>
